# ignore all pdf files
*.pdf
morning_shef_20230711.shef
morning_shef_20230712.shef
morning_shef_20230713.shef
morning_shef_20230718.shef
morning_shef_20230719.shef
morning_shef_20230721.shef
morning_shef_20230724.shef
readme.txt
morning_shef.code-workspace
